*{margin: 0;padding: 0;list-style: none;}
body{
	font-family: "Hiragino Sans GB", 
	冬青黑体, "Hiragino Kaku Gothic ProN", 
	"Microsoft Yahei", 
	Simsun, Arial, Helvetica, 
	sans-serif;
}
a{text-decoration: none;}
img{border: 0;}
/*=======================头部==========================*/
header{
	width: 100%;
	height: 56px;
	background: #25292e;
	line-height: 56px;
}
#header{
	width: 1000px;
	height: 56px;
	line-height: 56px;
	margin: 0 auto;
	background: #25292e;
}
#header>a{
	width: 95px;
	height: 38px;
	margin-top: 9px;
	float: left;
	background: url(../img/icon.png) no-repeat 0 0px;
}
#header>a:hover{
	opacity: 0.7;
}
#header>ul{
	float: right;
}
#header>ul>li{
	float: left;
}
#header>ul>li:first-child{
	margin-right: 16px;
}
#header>ul .classify{
	margin-right: 0;
	width: 70px;
	text-align: center;
	cursor: pointer;
}
#header>ul .classify:hover>a{
	color: #ccc;
}
#header ul .line{
	width: 1px;
	height: 8px;
	background: #525961;
	margin-top: 25px;
}
#header ul #login_enroll{
	display: block;
}
#header>ul>#portrait{
	height: 56px;
	display: none;
	cursor: pointer;
	position: relative;
}
#header>ul>#portrait:hover #uu_name{
	color: #ccc;
}
#header>ul>#portrait>a{
	height: 30px;
	float: left;
}
#header>ul>#portrait>a:first-child{
	margin-top: 10px;
	margin-right: 6px;
}
#header>ul>#portrait img{
	width: 30px;
	height: 30px;
	line-height: 0;
}
/*==========================用户名二级菜单========================*/
#header>ul>#portrait:hover{
	background: linear-gradient(to bottom,#24292e,#292f34);
}
#header>ul>#portrait:hover>div{
	display: block;
}
#header>ul>#portrait>div{
	position: absolute;
	top: 55px;left: -15px;
	display: none;
	z-index: 5;
}
#header>ul>#portrait>div>a{
	display: block;
	width: 160px;
	height: 44px;
	line-height: 44px;
	text-align: left;
	background: #292f34;
	font-size: 12px;
	color: #ccc;
}
#header>ul>#portrait>div>a:nth-child(3) span{
	border-bottom: 0;
}
#header>ul>#portrait>div>a:hover{
	background: #2e353d;
}
#header>ul>#portrait>div>a>span{
	display: block;
	width: 140px;
	height: 43px;
	margin: 0 auto;
	border-bottom: 1px solid #3f4449;
}
#header>ul>#portrait>div>#exit{
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #242930;
}
#header>ul>#portrait>div>#exit:hover{
	background: #3a4049;
}
#header>ul>li>a{
	color: #666;
	font-size: 12px;
}
#header>ul>li .same{
	color: #ccc;
	margin-right: 8px;
}
#header>ul>li .same:last-child{
	margin-right: 0;
}
/*===============购物车=================*/
#header ul #shopping{
	background: #25292e;
	position: relative;
	cursor: pointer;
	height: 56px;
	/*display: none;*/
}
#header ul #shopping:hover{	
	background: linear-gradient(to bottom,#24292e,#292f34);
}
#header ul #shopping .shopping{
	position: absolute;
	top: 56px;left: -125px;
	color: #ccc;
	cursor: text;
	font-size: 14px;
	width: 320px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	display: none;
	z-index: 5;
}
#header ul #shopping .shopping p:first-child{
	width: 320px;
	height: 70px;
	background: #292f34;
}
#header ul #shopping .shopping p:nth-child(2){
	width: 320px;
	background: #7dbfde;
	color: #fff;
	cursor: pointer;
}
#header ul #shopping .shopping p:nth-child(2):hover{
	background: #96c8e0;
}
#header ul #shopping:hover .shopping{
	display: block;
}
/*=================改变后的购物车==================*/
#shopping_change{
	background: #25292e;
	position: relative;
	cursor: pointer;
	height: 56px;
	width: 70px;
	text-align: center;
}
#shopping_change>span{
	margin-right: 10px;
	font-size: 15px;
	color: #0c79cc;
}
#shopping_change:hover{	
	background: linear-gradient(to bottom,#24292e,#292f34);
}
#shopping_change:hover .shopping_change{
	display: block;
}
#shopping_change .shopping_change{
	position: absolute;
	top: 56px;left: -125px;
	color: #ccc;
	cursor: text;
	font-size: 14px;
	width: 320px;
	text-align: center;
	display: none;
	z-index: 5;
}
#shopping_change .shopping_change>p{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #7dbfde;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}
#shopping_change .shopping_change>p:hover{
	background: #96c8e0;
}
#shopping_change .shopping_change dl{
	width: 290px;
	padding: 0 15px;
	overflow: hidden;
	background: #2e353d;
}
#shopping_change .shopping_change dl:hover{
	background: #292F34;
	cursor: pointer;
}
#shopping_change .shopping_change dl dt{
	float: left;
	border-bottom: #3f4449 1px solid;
	padding: 15px 0;
}
#shopping_change .shopping_change dl dt a{
	color: #878787;
	display: block;
	line-height: 0;
}
#shopping_change .shopping_change dl dt a img{
	width: 64px;
	height: 64px;
}
#shopping_change .shopping_change dl dd{
	float: right;
	padding: 15px 0 15px 10px;
	width: 216px;
	border-bottom: 1px solid #3F4449;
	color: #ccc;
	font-size: 12px;
	overflow: hidden;
	line-height: 15px;
}
#shopping_change .shopping_change dl dd .proTit{
	width: 216px;
	height: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
}
#shopping_change .shopping_change dl dd .proTit a{
	color: #878787;
}
#shopping_change .shopping_change dl dd .proColor{
	height: 34px;
	line-height: 34px;
	text-align: left;
}
#shopping_change .shopping_change dl dd .proNum{
	height: 15px;
	position: relative;
	text-align: left;
}
#shopping_change .shopping_change dl dd .proNum p{
	position: absolute;
	right: 0;
	bottom: 0;
}
/*===============消息=================*/
#header ul #message{
	height: 56px;
	position: relative;
}
#header ul #message:hover>ul{
	display: block;
}
#header ul #message>ul{
	position: absolute;
	top: 56px;left: -45px;
	display: none;
	z-index: 5;
}
#header ul #message>ul li{
	width: 160px;
	height: 44px;
	line-height: 44px;
	text-align:center;
	background: #292f34;
}
#header ul #message>ul li:hover{
	background: #2e353d;
}
#header ul #message>ul>li a{
	float: left;
	color: #ccc;
	font-size: 12px;
}
#header ul #message>ul li span{
	float: right;
	color: #ccc;
	font-size: 12px;
}
#header ul #message>ul li div{
	width: 130px;
	height: 43px;
	margin: 0 auto;
	border-bottom: 1px solid #666;
}
#header ul #message>ul li:last-child div{
	border-bottom: 0;
}
#header ul #message:hover{	
	background: linear-gradient(to bottom,#24292e,#292f34);
}
/*====================一级导航====================*/
nav{
	width: 1000px;
	height: 49px;
	position: fixed;
	left: 50%;top: 60px;z-index: 4;
	margin-left: -500px;background: #fff;
	border-bottom: #ededed solid 4px;
}
nav #nav{
	width: 734px;
	height: 49px;
	float: left;
	line-height: 49px;
}
nav #nav>li{
	float: left;
	padding: 0 18px;
}
nav #nav>li>a{
	width: 118px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	display: block;
	font-size: 15px;
	color: #333;
}
nav #nav>li:first-child{
	padding: 0;
}
nav #nav>li:first-child>a{
	text-align: left;
}
nav #nav>li>a:hover{
	border-bottom: #25292e solid 4px;
}
/*======================二级菜单商店======================*/
nav #store{
	position: relative;
}
nav #store:hover>div{
	display: block;
}
nav #store>div{
	width: 1000px;
	background: #fff;
	position: absolute;
	left: -76%;top: 53px;
	cursor: pointer;
	padding: 30px 0 40px;
	display: none;
}
nav #store>div>ul{
	width: 750px;
	overflow: hidden;
}
nav #store>div>ul>li{
	float: left;
	width: 107px;
}
nav #store>div>ul>li img{
	width: 40px;
	height: 40px;
}
nav #store>div>ul>li span{
	width: 35px;
	display: block;
	margin-top: -20px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	margin-left: 6px;
	letter-spacing: 5px;
}
nav #store>div div{
	width: 232px;
	height: 232px;
	background: blue;
	float: right;
	margin-top: -232px;
}
nav #store>div div img{
	width: 232px;
	height: 232px;
}
nav #store>div div>p{
	line-height: 24px;
	color: #4d4d4d;
	font-size: 14px;
	letter-spacing: 2px;
	margin-top: 20px;
}
nav #store>div>p{
	width: 185px;
	float: left;
	padding-top: 100px;
}
nav #store>div>p a{
	color: #666;
	font-size: 12px;
	margin-right: 40px;
}
/*======================三级菜单======================*/
/*nav #nav>li>ul{
	width: 500px;
	height: 40px;
}
nav #nav>li>ul>li{
	float: left;
}*/
/*======================搜索======================*/
nav #search{
	width: 266px;
	height: 49px;
	line-height: 49px;
	float: right;
	position: relative;
	top: -1px;
}
nav #search>a{
	width: 43px;
	float: right;
	height: 38px;
	margin-top: 5px;
	margin-right: 10px;
	background: url(../img/icon.png) no-repeat -157px -147px;
	position: absolute;
	right: 0;
	z-index: 1;
}
nav #search input{
	width: 0px;
	height: 39px;
	line-height: 39px;
	outline:none;
	border: 0;
	position: absolute;
	z-index: 2;
	top: 10px;left: 270px;
}
nav #search>span{
	width: 0px;
	height: 4px;
	background: #25292e;
	position: absolute;
	top: 50px;left: 270px;
}
/*===================回到顶部按钮=======================*/
#pre{
	width: 60px;
	height: 60px;
	position: fixed;
	right: 44px;bottom: 44px;
	background: url(../img/icon.png) no-repeat -20px -813px;
	opacity: 1;z-index: 50;
	display: none;
}
#pre:hover{
	opacity: 0.7;
}
/*=======================footer====================*/
#service{
	width: 100%;
	min-width: 1000px;
	margin: 90px auto 0;
	padding: 51px 0 48px;
	border-top: #ededed 1px solid;
	background: #fbfdfe;
}
#service>a{	
	width: 177px;
	height: 16px;
	position: relative;
	margin: 0 auto;
	display: block;
	background: url(../img/icon.png) no-repeat 45px -417px;
	padding-left: 45px;
}
#service>a>p{
	width: 27px;
	height: 15px;
	position: absolute;
	overflow: hidden;
	left: 0;top: 1px;
	background: url(../img/icon.png) no-repeat -173px -356px;	
}
#service ul{
	width: 1000px;
	margin: 0 auto;
	padding: 42px;
	overflow: hidden;
}
#service>ul>li{
	float: left;
	height: 60px;
	margin-left: 50px;
}
#service>ul>li:first-child{
	margin-left: 0;
}
#service>ul>li>span{
	width: 56px;
	height: 60px;
	float: left;
	margin-right: 10px;
}
#service>ul>li:first-child>span{
	background: url(../img/icon.png) no-repeat 0 -355px;	
}
#service>ul>li:nth-child(2)>span{
	background: url(../img/icon.png) no-repeat -153px -217px;	
}
#service>ul>li:nth-child(3)>span{
	background: url(../img/icon.png) no-repeat -57px -353px;	
}
#service>ul>li:last-child>span{
	background: url(../img/icon.png) no-repeat -114px -353px;	
}
#service>ul>li>p{
	width: 185px;
	height: 24px;
	line-height: 24px;
	color: #737373;
	font-size: 14px;
	text-align: left;
	font-weight: bold;
	padding-left: 20px;
	padding-left: 10px;
}
#service>ul>li>i{
	width: 185px;
	font-style: normal;
	line-height: 22px;
	color: #ccc;
	display: block;
	font-size: 12px;
	padding-left: 24px;
}
/*===================footer===================*/
footer{
	width: 100%;
	margin: 0 auto;
	background: #25292e;
	color: #5c5c5c;
	height: 272px;
	border-top: #25292e 1px solid;
}
footer #footer{
	width: 1000px;
	margin: 0 auto;
	padding-top: 40px;
	
}
footer #footer .floatLeft{
	width: 800px;
	float: left;
}
footer #footer .floatLeft>a{
	position: relative;
	top: -41px;
	display: block;
	width: 200px;
	height: 44px;
	color: #878787;
	padding-top: 54px;
}
footer #footer .floatLeft>a p{
	padding-left: 60px;
	width: 142px;
	height: 44px;
	color: #5c5c5c;
	font-size: 15px;
	letter-spacing: 2px;
	cursor: pointer;
	background: url(../img/icon.png) no-repeat -175px 0;
}
footer #footer .floatLeft>a>ul{
	position: absolute;
	left: 0;top: -151px;
	width: 240px;
	background: #fff;
	height: 151px;
	z-index: 8;
	display: none;
}
footer #footer .floatLeft>a:hover>ul{
	display: block;
}
footer #footer .floatLeft>a>ul>li{
	float: left;
	border-right: #d9d9d9 1px solid;
	background: url(../img/icon.png) no-repeat -99px -47px;
}
footer #footer .floatLeft>a>ul>li>h6{
	width: 98px;
	height: 103px;
	line-height: 230px;
	color: #4d4d4d;
	text-align: center;
	font-size: 13px;
}
footer #footer .floatLeft>a>ul>li:first-child{
	padding-right: 20px;
}
footer #footer .floatLeft>a>ul>li:last-child{
	padding-left: 20px;
	border-right: 0;
	background: url(../img/icon.png) no-repeat 20px -47px;
}
footer #footer #link{
	overflow: hidden;
}
footer #footer #link>li{
	float: left;
	height: 16px;
	line-height: 16px;
	text-align: center;
	padding: 0 10px 0 8px;
	border-right: 1px solid #666;
}
footer #footer #link>li>a{
	color: #5c5c5c;
	display: block;
	font-size: 12px;
}
footer #footer #link>li:first-child{
	padding-left: 0;
}
footer #footer #link>li:last-child{
	border-right: 0;
}
footer #footer #link>li>a:hover{
	color: #fff;
}
footer #footer .floatLeft pre{
	width: 725px;
	height: 108px;
	color: #666;
	background: #25292e;
	resize:none;
	outline: none;
	overflow-y: hidden;
	border: 0;
	letter-spacing: 2px;
	line-height: 20px;
	margin-top: 10px;
	font-size: 12px;
}
footer #footer .floatRight{
	width: 200px;
	height: 75px;
	float: right;
}
footer #footer .floatRight ul{
	overflow: hidden;
}
footer #footer .floatRight ul li{
	float: left;
	cursor: pointer;
	height: 30px;
	margin-left: 27px;
}
footer #footer .floatRight ul li:first-child{
	width: 26px;
	height: 20px;
	background: url(../img/icon.png) no-repeat -100px -23px;
}
footer #footer .floatRight ul li:first-child:hover{
	background-position: -100px 0px;
}
footer #footer .floatRight ul li:nth-child(2){
	width: 23px;
	height: 20px;
	background: url(../img/icon.png) no-repeat -150px -23px;
}
footer #footer .floatRight ul li:nth-child(2):hover{
	background-position: -150px 0px;
}
footer #footer .floatRight ul li:last-child{
	width: 18px;
	height: 20px;
	background: url(../img/icon.png) no-repeat -129px -25px;
}
footer #footer .floatRight ul li:last-child:hover{
	background-position: -129px 0px;
}
#contact{
	position: fixed;
	right: 12px;bottom: 10px;
}
