<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>良仓</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/jquery.cookie.js" ></script>
		<script type="text/javascript" src="js/cookie.js" ></script>
		<script type="text/javascript" src="js/underscore.js" ></script>
	</head>
	<body>		
		<!--头部-->
		<header>
			<div id="header">
				<a href="index.html"></a><!--LOGO-->
				<ul>
					<li id="portrait">
						<a href=""><img src="" id="imG"/></a>
						<a href="" id="uu_name"></a>
						<div>
							<a href=""><span>个人设置</span></a>
							<a href=""><span>收货信息</span></a>
							<a href=""><span>我的订单</span></a>
							<a href="javascript:;" id="exit">退出</a>
						</div>
					</li>
					<li id="login_enroll"><a href="login.html" class="same">登录</a><a href="enroll.html" class="same">注册</a></li>
					<li class="line"></li>
					<!--改变后的购物车-->
					<li id="shopping_change"><span id="shopping_sum">1</span><a href="">购物车</a>
						<div class="shopping_change">
							<div class="add_shop">
								<script type="text/template" id="templete_shop">
									<dl>
										<dt>
											<a href="shop_car.html"><img src="<%= goods_thumb %>"/></a>
										</dt>
										<dd>
											<p class="proTit">
												<a href="shop_car.html" target="_blank"><%= goods_name %></a>
											</p>
											<p class="proColor">一只</p>
											<div class="proNum">数量:1件<p class="proPrice">¥<%= goods_price %></p>
											</div>
										</dd>
									</dl>
								</script>
							</div>
							<p>查看我的购物车</p>
						</div>
					</li>
					<!--改变前的购物车-->
					<li class="classify" id="shopping"><a href="">购物车</a>
						<div class="shopping">
							<p>你的购物车暂时没有商品...</p>
							<p>快去抢购良仓商品吧</p>
						</div>
					</li>
					<li class="line"></li>
					<li class="classify" id="message"><a href="">消息</a>
						<ul>
							<li><div><a href="">动态</a><span>0</span></div></li>
							<li><div><a href="">评论</a><span>0</span></div></li>
							<li><div><a href="">私信</a><span>0</span></div></li>
							<li><div><a href="">粉丝</a><span>0</span></div></li>
							<li><div><a href="">喜欢</a><span>0</span></div></li>
							<li><div><a href="">通知</a><span>0</span></div></li>
						</ul>
					</li>
					<li class="line"></li>
					<li class="classify"><a href="">添加良品</a></li>
				</ul>
			</div>
		</header>
		<!--一级导航-->
		<nav>
			<ul id="nav">
				<li><a href="">首页</a></li>
				<!--商店-->
				<li id="store"><a href="">商店</a>
					<div>
						<ul>
							<li><img src="img/23687.png"/><span>家居</span>
								<!--<ul>
									<li>1</li>
									<li>2</li>
									<li>3</li>
									<li>4</li>
									<li>5</li>
									<li>6</li>
								</ul>-->
							</li>
							<li><img src="img/23685.png"/><span>家具</span></li>
							<li><img src="img/23686.png"/><span>文具</span></li>
							<li><img src="img/23683.png"/><span>数码</span></li>
							<li><img src="img/23682.png"/><span>玩乐</span></li>
							<li><img src="img/23684.png"/><span>厨卫</span></li>
							<li><img src="img/23680.png"/><span>美食</span></li>
							<li><img src="img/23679.png"/><span>男装</span></li>
							<li><img src="img/23678.png"/><span>女装</span></li>
							<li><img src="img/23677.png"/><span>童装</span></li>
							<li><img src="img/23676.png"/><span>鞋包</span></li>
							<li><img src="img/23675.png"/><span>配饰</span></li>
							<li><img src="img/23681.png"/><span>美护</span></li>
							<li><img src="img/23674.png"/><span>户外</span></li>
							<li><img src="img/23669.png"/><span>植物</span></li>
							<li><img src="img/23668.png"/><span>图书</span></li>
							<li><img src="img/23672.png"/><span>艺术</span></li>
							<li><img src="img/23669.png"/><span>礼物</span></li>
							<li><img src="img/23670.png"/><span>推荐</span></li>
						</ul>
						<div>
							<img src="img/315574.jpg"/>
							<p>新视线: 2015年7月刊</p>
						</div>
						<p><a href="">查看所有品牌 ></a><a href="">最新到货 ></a></p>
					</div>
				</li>
				<li><a href="">杂志</a></li>
				<li><a href="">分享</a></li>
				<li><a href="">达人</a></li>
			</ul>
			<div id="search">
				<a href="javascript:;"></a>
				<input type="text" placeholder="search..." id="search_txt"/>
				<span></span>
			</div>
		</nav>
		<!--轮播图-->
		<div id="banner">
			<ul class="img">
				<li><a href=""><img src="img/1006.jpg"/></a></li>
				<li><a href=""><img src="img/1009 (1).jpg"/></a></li>
				<li><a href=""><img src="img/1010.jpg"/></a></li>
				<li><a href=""><img src="img/1001.jpg"/></a></li>
				<li><a href=""><img src="img/1005.jpg"/></a></li>
				<li><a href=""><img src="img/1010.jpg"/></a></li>
				<li><a href=""><img src="img/1008.jpg"/></a></li>
				<li><a href=""><img src="img/1006.jpg"/></a></li>
				<li><a href=""><img src="img/1001.jpg"/></a></li>
				<li><a href=""><img src="img/1005.jpg"/></a></li>
			</ul>
			<ul class="arrow">
				<li class="change"></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<ul class="direction">
				<li class="left"><img src="img/normal_right.png"/></li>
				<li class="right"><img src="img/normal_left.png"/></li>
			</ul>
		</div>
		<!--广告-->
		<ul id="advert">
			<li><a href=""><img src="img/27176.jpg"/></a></li>
			<li><a href=""><img src="img/27178.jpg"/></a></li>
			<li><a href=""><img src="img/27177.jpg"/></a></li>
			<li><a href=""><img src="img/27175.jpg"/></a></li>
			<li><a href=""><img src="img/27174.jpg"/></a></li>
		</ul>
		<!--人气良品-->
		<div id="popular">
			人气良品
		</div>
		<!--商品展示-->
		<script type="text/templete" id="templete">		
            <div class="goods_list">
				<div class="goods_img" goods_name="<%= goods_name %>">
					<img src="<%= goods_thumb %>"/>					
				</div>
				<p>
					<a href="javascript:;" class="goods_name"><%= goods_name %></a>
					
					<a href="javascript:;" class="zan"><%= goods_number %></a>
				</p>
			</div>           
		</script>
		<div id="goods">
			
		</div>
		<!--MORE-->
		<a href="javascript:;" id="more"></a>
		<!--回到顶部按钮-->
		<a href="javascript:;" id="pre"></a>
		<!--联系客服-->
		<a href="tencent://message/?uin=1366061829&Site=&menu=yes" id="contact"><img src="img/002.png"/></a>
		<!--服务区-->
		<div id="service">
			<a href="#">
				<p></p>
			</a>
			<ul>
				<li><span></span><p>全球精品</p><i>Global Selections</i></li>
				<li><span></span><p>正品保证</p><i>Authenticity Guaranteed</i></li>
				<li><span></span><p>全场包邮</p><i>Free Delivery</i></li>
				<li><span></span><p>400-897-6336</p><i>工作日 09:00-18:00</i></li>
			</ul>
		</div>
		<!--footer-->
		<footer>
			<div id="footer">
				<div class="floatLeft">
					<a href="">
						<p>iPhone Android<br>客户端下载</p>
						<ul>
							<li><h6>下载iPhone版</h6></li>
							<li><h6>下载Android版</h6></li>
						</ul>
					</a>
					<ul id="link">
						<li><a href="">关于良仓</a></li>
						<li><a href="">服务协议</a></li>
						<li><a href="">隐私保护政策</a></li>
						<li><a href="">使用指南</a></li>
						<li><a href="">联系我们</a></li>
						<li><a href="">加入我们</a></li>
						<li><a href="">友情链接</a></li>
						<li><a href="">私信良仓</a></li>
					</ul>
					<pre>© 2013-2015 北京良仓文化传播有限公司版权所有 京ICP备13010677号-1 京公网安备11010502025627 
 公司名称：北京良仓文化传播有限公司  电话：010-58263516
 公司地址：北京朝阳区百子湾路32号6号楼1层60号.
 社会信用统一代码：91110105059231575L  食品许可证：JY11105160159557
 图书证名称：中华人民共和国出版物经营许可证  图书证编号：新出发京零 字第 朝 150051 号  
					</pre>
				</div>
				<div class="floatRight">
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="js/banner.js" ></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/shop_car_index.js" ></script>
	</body>
</html>
